// Chat input area
.chat_input_area {
  position: relative;
}

.chat_input_area__input {
  width: 100%;
  background: rgba(#fff, 0.3);
  border: none;
  box-sizing: border-box;
  padding: 20px;
  padding-right: calc(#{30px} + 20px);

  &:focus {
    outline: none;
  }
}

.chat_input_area__submit_button {
  position: absolute;
  top: 0;
  right: 16px;
  bottom: 0;
  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url('/paper-plane.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  margin: auto;

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}
