.NavItem {
  font-size: 1rem;
  font-weight: 500;
  margin: 25px;
  width: 98%;
  img {
    height: 35px;
    width: 35px;
  }
  span {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  &:hover {
    cursor: pointer;
  }
}

//Help and support
.help {
  position: absolute;
  bottom: 10rem;
}

//account
.account {
  position: absolute;
  bottom: 5rem;
}

.activeItem {
  border-style: none solid none none;
  border-color: #0070f3;
  border-width: 5px;
  color: #0070f3;
}
