.NavItem {
  // display: flex;
  // align-items: flex-start;
  margin: 25px;
  // justify-content: center;
  // align-content: center;
  img {
    height: 35px;
    width: 35px;
  }
  span {
    margin-bottom: 5px;
    margin-left: 5px;
  }

  &:nth-child(4) {
    position: absolute;
    bottom: 10rem;
  }

  &:nth-child(5) {
    position: absolute;
    bottom: 5rem;
  }
}
